.cash{
  margin: 120px auto 0px auto;
}
.cash-input{
  width: 700px;
  margin-bottom: 5px;

}
.cash-btn{
  width: 80px;
}
.cash-card{
  padding: 50px 20px;
  border-radius: 8px;

}
body{
  background: #F6F6F6;
}
a{
text-decoration: none;
color: white;
}
.nav-color{
    background: rgba(0, 0, 0, 0.1);
}
.ind{
  color:#000;
  text-decoration: none;
  font-weight: 800px;
  font-size: 13px;
}
.ind-now{background-color: rgb(90, 196, 121); border-radius: 20px; padding: 5px 9px; color:#fff ;}
.ind-now:hover{color:#fff; cursor: context-menu;}